@import url(https://fonts.googleapis.com/css?family=Bangers);
.popup__button {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  width: 100%;
  height: 30px;
  padding: 16px 0;
  box-sizing: content-box;
  border-radius: 100px;
  margin-top: 40px;
  color: #fff;
  background-color: #2f71e5;
}

.popup__button:hover {
  background-color: #2b64c7;
}
.popup__title {
  font-family: 'Roboto';
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  margin: 0 0 24px;
}

.popup__title_title {
  margin: 7px 0 0;
}
.popup__input {
  box-sizing: border-box;
  outline: none;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  width: 100%;
  padding-bottom: 4px;
}

.popup__input::-moz-placeholder {
  font-family: 'Inter', Arial, sans-serif;
  font-size: 14px;
  line-height: 17px;
  color: #b6bcbf;
}

.popup__input::placeholder {
  font-family: 'Inter', Arial, sans-serif;
  font-size: 14px;
  line-height: 17px;
  color: #b6bcbf;
}

.popup__input:focus {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .4);
}
.popup__subtitle {
  font-family: 'Inter', Arial, sans-serif;;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  margin: 17px 0 0;
}
.popup__link {
  text-decoration: none;
}

.popup__link:hover {
  color: rgb(255, 0, 0);
}

.popup__link_link {
  margin: 15px 0 0;
  display: block;
  font-size: 18px;
  line-height: 22px;
  font-family: 'Inter', Arial, sans-serif;
}
.popup__title-input {
  color: #2f71e5;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 12px;
  line-height: 15px;
  margin: 17px 0 8px;
}
.popup__content {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 430px;
  min-height: 180px;
  background-color: #fff;
  border-radius: 16px;
  padding: 36px 36px 28px;
  box-sizing: border-box;
  position: relative;
}

@media (max-width : 767px) {
  .popup__content {
    min-height: 150px;
    padding: 16px;
  }
}
.popup__close {
  position: absolute;
  width: 26px;
  top: 25px;
  right: 26px;
  cursor: pointer;
}


.popup_display.popup_display {
  display: flex;
}
.popup__button-disabled.popup__button-disabled {
  cursor: default;
  background-color: #e6e8eb;
  color: #b6bcbf;
}
.popup__registration{
  display: flex;
  justify-content: center;
  align-items: center;
}
.popup__text_dark{
    text-align: center;
    cursor: pointer; 
}
.popup__text_dark:before{
content: "или";
color: black;

}
.popup__text{
    box-sizing: border-box;
    padding: 5px 6px 0px;
   
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #2F71E5;
    
    
}
.popup__text_dark{
    text-align: center;
    cursor: pointer; 
}
.popup__text_dark:before{
content: "или";
color: black;

}
.popup__button-registration
    {
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;
        width: 100%;
        height: 30px;
        padding: 16px 0;
        box-sizing: content-box;
        border-radius: 100px;
        margin-top: 40px;
        color: #fff;
        background-color: #2f71e5;
      }
      
      .popup__button:hover {
        background-color: #2b64c7;
      }

.popup {
  font-family: 'Roboto', Arial, sans-serif;
  position: fixed;
  top: 50px;
  left: 0;
  display: none;
  z-index: 5;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
body {
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #292b2c;
  background-color: #fff;
} 


.modal {
  display: none;
  position: fixed; 
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.5); 
  z-index: 1050;
  opacity: 1;
  transition: opacity 200ms ease-in; 
  pointer-events: none; 
  margin: 0;
  padding: 0;
}





.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: .3rem;
  outline: 0;
}

.modal-body {
position: relative;
  flex: 1 1 auto;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
}
.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
}
.dark{
  background-color: rgba(0,0,0,.5);
}
.container{
  display:flex;
  flex-direction: column;
}
.comment{
  
    margin:25px;
    width:80%;
    height:auto;
    background:#fff;
    border: solid black;
    border-color: black;
    float:left; 
    border-width: 3px 4px 3px 5px;
    border-radius:95% 4% 92% 5%/4% 95% 6% 95%;
    transform: rotate(2deg);
    font-family: 'Bangers', cursive;
    font-size: 25px;
  
}
.comment__name{
    text-align: end;
    margin-right: 5px;

}
.comment__text{
    display: flex;
    width: 100%;
    margin-bottom: 130px;
    
}
.text-bold{
    font-weight: 600;
}
.modal {
    display: none;
    position: fixed; 
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.5); 
    z-index: 1050;
    opacity: 1;
    transition: opacity 200ms ease-in; 
    pointer-events: none; 
    margin: 0;
    padding: 0;
  }
  
  
  
  
  
  .modal-content {
    margin-top: 300px;
    margin-bottom: 100px;
    height: 300px;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;
  }
  
  .modal-body {
    display:flex;
    flex-direction:column ;
    align-content: center;
    justify-content: center;
  position: relative;
    flex: 1 1 auto;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
  }
  .modal-dialog {
    margin-top: auto;
    margin-bottom: auto;
    position: relative;
    width: auto;
    height: 300px;
    margin: 10px;
  }
  .button{
  
    display: inline-block;	
	box-sizing: border-box;
	padding: 0 15px;
	margin: 0 15px 15px 0;
	outline: none;
	border: none;  
	border-radius: 4px;
	height: 36px;
	line-height: 36px;
	font-size: 14px;
	font-weight: 500;
	text-decoration: none;
	color: #fff;
	background-color: #1a73e8;
	position: relative;
	overflow:hidden;
	vertical-align: top;
	cursor: pointer;
	-webkit-user-select: none;
	   -moz-user-select: none;
	        user-select: none;
	-webkit-appearance: none;
	   -moz-appearance: none;
	        appearance: none;
	touch-action: manipulation; 
	z-index: 1;
  }
