@import url(./popup/popup.css);
@import url(https://fonts.googleapis.com/css?family=Bangers);

.dark{
  background-color: rgba(0,0,0,.5);
}
.container{
  display:flex;
  flex-direction: column;
}
.comment{
  
    margin:25px;
    width:80%;
    height:auto;
    background:#fff;
    border: solid black;
    border-color: black;
    float:left; 
    border-width: 3px 4px 3px 5px;
    border-radius:95% 4% 92% 5%/4% 95% 6% 95%;
    transform: rotate(2deg);
    font-family: 'Bangers', cursive;
    font-size: 25px;
  
}
.comment__name{
    text-align: end;
    margin-right: 5px;

}
.comment__text{
    display: flex;
    width: 100%;
    margin-bottom: 130px;
    
}
.text-bold{
    font-weight: 600;
}
.modal {
    display: none;
    position: fixed; 
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.5); 
    z-index: 1050;
    opacity: 1; 
    -webkit-transition: opacity 200ms ease-in; 
    -moz-transition: opacity 200ms ease-in;
    transition: opacity 200ms ease-in; 
    pointer-events: none; 
    margin: 0;
    padding: 0;
  }
  
  
  
  
  
  .modal-content {
    margin-top: 300px;
    margin-bottom: 100px;
    height: 300px;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;
  }
  
  .modal-body {
    display:flex;
    flex-direction:column ;
    align-content: center;
    justify-content: center;
  position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
  }
  .modal-dialog {
    margin-top: auto;
    margin-bottom: auto;
    position: relative;
    width: auto;
    height: 300px;
    margin: 10px;
  }
  .button{
  
    display: inline-block;	
	box-sizing: border-box;
	padding: 0 15px;
	margin: 0 15px 15px 0;
	outline: none;
	border: none;  
	border-radius: 4px;
	height: 36px;
	line-height: 36px;
	font-size: 14px;
	font-weight: 500;
	text-decoration: none;
	color: #fff;
	background-color: #1a73e8;
	position: relative;
	overflow:hidden;
	vertical-align: top;
	cursor: pointer;
	user-select: none;
	appearance: none;
	touch-action: manipulation; 
	z-index: 1;
  }